#topnav {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background: #F5F5F5;
}

#topnav a:hover {
        color: #e52d88;
}

#topnav dd {
        z-index: 1003;
        position: relative;
        float: left;
}
#topnav dd.on h2 a {
        border-bottom: 1px solid #fff;
        background: #fff;
        color: #e52d88;
}

#topnav dd.on h2 a i {
    background-position: 0 -9px;
}

#topnav ul {
        top: 31px;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        border-top: 0;
        background: #fff;
        display: none;
        text-align: right; /*by:czh*/
        right: -13px; /*by:czh*/
        position: absolute;
}

#topnav i {
        display: block;
        top: 13px;
        right: 8px;
        position: absolute;
}

#topnav h2 a {
        padding: 0 25px 0 15px;
        border-bottom: 1px solid transparent;
        position: relative;
}
.topnav-l{
    float: left;
}
.topnav-l ul {
    width: 372px;
    padding: 15px 5px;
    left: -149px;
}

.topnav-l ul li {
        width: 90px;
        line-height: 40px;
    
}
.topnav-r{
     float: right;
}
.topnav-r ul {
    right: -1px;
    width: 329px;
    padding: 0 5px;
}

.topnav-r ul p, .topnav-r ul div {
    width: 79px;
}

.topnav-r ul li {
        width: 90px;
        /*line-height: 40px;*/
        float: left;
}
.topnav-l ul li,.topnav-r ul p,.topnav-r ul div{
    text-align: center;
    float: left;
}

.register-please {
    margin-left: 12px;
}

.topnav-line {
    width: 1px;
    height: 16px;
    background: #555;
    margin: 7px 12px 0;
}

#header{
    height: 150px;
    background:#fff;
    .header{
        background:#fff;
        .logo{
            width:260px;
            height: 150px;
            float:left;
            img{
                margin-top:40px;
            }
        }
        .search{
            width: 500px;
            padding-top:40px;
            margin-left:110px;
            float:left;
            .hot{
                margin-bottom:5px;
                li{
                    float:left;
                    padding:0px 5px;
                    border-right: 1px solid #999;
                    a{
                        display:block;
                        // height:80px;
                        font-size:14px;
                        color:#555;
                    }
                }
            }

            .searchBt{
                    border:2px solid #bc338b;
                    width: 500px;
                    height: 40px;
                    float:left;
                .search-l{
                    width: 83px;
                    height: 34px;
                    float:left;
                }
                .search-c{
                    width: 311px;
                    height: 36px;
                    font-size:15px;
                    color:#999;
                    padding:0 5px;
                    line-height:36px;
                    float:left;
                }
                .search-r{
                    width: 100px;
                    height: 36px;
                    background:#bc338b;
                    color:#fff;
                    font-size:18px;
                    letter-spacing:5px;
                    float:right;
                }
            } 


        }
        .car{
            height: 40px;
            float:left;
            margin-left:10px;
            width: 150px;
            background:#bc338b;
            margin-top:58px;
            text-align:center;
            line-height:40px;
            a{
                color:#fff;
                font-size:16px;
            }
        }
        .bag{
            height: 40px;
            float:left;
            margin-left:10px;
            width: 150px;
            background:#1c3a8b;
            margin-top:58px;
        }

    }
}

#nav{
    height: 36px;
    border-bottom: 2px solid #bc338b;
    background:#fff;
    .nav{
        background:#fff;
        .nav-l{
            width: 240px;
            float:left;
            dt{
                height: 36px;
                
                a{
                    display:block;
                    background:#bc338b;
                    height: 36px;
                    padding:0px 0px 10px 40px;
                    // width: 100%;
                    // height: 100%;
                    .sp1{
                        display:inline-block;
                        vertical-align:middle;
                        font-size:18px;
                        color:#fff;
                    }
                    .sp2{
                        font-size:12px;
                        display:inline-block;
                        vertical-align:middle;
                        margin-top:5px;
                        margin-left:12px;
                        line-height:30px;
                        color:#fff;
                    }
                }
            }
            

        }
        .nav-c{
            width: 700px;
            line-height:36px;
            float:left;
            li{
                float:left;
                width: 111px;
                text-align:center;
                a{
                    font-size:16px;
                    letter-spacing:2px;
                }
            }
        }
        .nav-r{
            float:right;
            font-size:14px;
            width: 210px;
            text-align:center;
            line-height:36px;
            padding-left:10px;
            li{
                float:left;
                margin-left:15px;
                a{
                    display:block;
                }
            }
        }
    }

}   
#banner{
    height: 400px;
    width: 100%;
    background:pink;
}

#content{
    background:#fff;
    .contentNew{
        height:615px;
        margin:70px auto 0px;
        background:#fff;
        .tit{
            padding-bottom:5px;
            border-bottom: 2px solid #183b8c;
            font-size:22px;
            font-weight:700;
        }
        .cont-l{
            width:250px;
            height: 550px;
            float:left;
            position:relative;
            .cont-l-logo{
                width:240px;
                height:80px;
                position:absolute;
                bottom:0;
                left:10px;
            }
        }
        .cont-r{
            float:left;
            .goodstype li{
                float:left;
                font-size:14px;
                padding:15px 0;
                width:153px;
                text-align:center;
                color:#666;
                background:#ccc;
            }
            .goodstype1 li{
                float:left;
                font-size:14px;
                padding:15px 0;
                width:100px;
                text-align:center;
                color:#666;
                background:#ccc;
            }
            .goodstype2 li{
                float:left;
                font-size:14px;
                padding:15px 0;
                width:85px;
                text-align:center;
                color:#666;
                background:#ccc;
            }
            .goodstype3 li{
                float:left;
                font-size:14px;
                padding:15px 0;
                width:100px;
                text-align:center;
                color:#666;
                background:#ccc;
            }
            .goods ul li{
                float:left;
                width:23%;
                border:1px solid #ccc;
                margin:0 1% 25px 1%;
                height:233px;
                text-align:center;
                img{
                    height: 160px;
                    width: 160px;
                }
                .goodsname{
                    // height:14px;
                    color:#666;
                    padding:0px 0px 8px 0px;
                    margin-top:10px;
                    border-bottom:1px dashed #ccc;
                    font-size:16px;
                }
                .price{
                    margin-top:15px;
                }

            }
            .goods1 ul li{
                float:left;
                width:32%;
                border:1px solid #ccc;
                margin:0 0.5% 25px 0.5%;
                height:233px;
                text-align:center;
                img{
                    height: 160px;
                    width: 160px;
                }
                .goodsname{
                    // height:14px;
                    color:#666;
                    padding:0px 0px 8px 0px;
                    margin-top:10px;
                    border-bottom:1px dashed #ccc;
                    font-size:12px;
                }
                .price{
                    margin-top:10px;
                }
            }
            .goods2 ul li{
                float:left;
                width:32%;
                border:1px solid #ccc;
                margin:0 0.5% 25px 0.5%;
                height:233px;
                text-align:center;
                img{
                    height: 160px;
                    width: 160px;
                }
                .goodsname{
                    // height:14px;
                    color:#666;
                    padding:0px 0px 8px 0px;
                    margin-top:10px;
                    border-bottom:1px dashed #ccc;
                    font-size:12px;
                }
                .price{
                    margin-top:10px;
                }
            }
            .goods3 ul li{
                float:left;
                width:32%;
                border:1px solid #ccc;
                margin:0 0.5% 25px 0.5%;
                height:233px;
                text-align:center;
                img{
                    height: 160px;
                    width: 160px;
                }
                .goodsname{
                    // height:14px;
                    color:#666;
                    padding:0px 0px 8px 0px;
                    margin-top:10px;
                    border-bottom:1px dashed #ccc;
                    font-size:12px;
                }
                .price{
                    margin-top:10px;
                }
            }
        }

        .cont-ban{
            width: 250px;
            height:500px;
            float:right;
            border:1px solid #ccc;
        }

    }
}

#bottom{
    height:530px;
    background:#0c1839;
}